body{
font-family:sans-serif;
background:#0d1117;
color:#c9d1d9;
max-width:900px;
margin:auto;
padding:40px;
}

a{
color:#58a6ff;
text-decoration:none;
}

header{
margin-bottom:40px;
}

nav a{
margin-right:20px;
}